<h2>Moderate the Comments</h2>
<table>
<tr>
<th>Post</th><th>Content</th><th>Name</th><th colspan="2">Moderation</th>
</tr>
<% controller.all_comments.each do |comment| %>
<tr>
<!-- we already have access to the post - we don't need extra DB queries -->
<% my_post = comment.post %>
<td style="padding-right: 10px;">
<%= my_post.title[0..10] %>...
</td>
<td style="padding-right: 10px;">
<%= link_to comment.body[0..20]+(comment.body.length > 20 ? '...' : ''), comment_prev_path(comment),
	:id=>'cmnt'+comment.id.to_s, :method=>:get, :action=>'preview', :remote=>true %>
<span id="cmntsp<%= comment.id %>"></span>
</td>
<td><%= comment.name %></td>
<td><%= link_to 'Edit ', edit_post_comment_path(my_post, comment), :style=>'padding-right: 5px;padding-left:5px;' %></td>
<td><%= link_to 'Delete', post_comment_path(my_post,comment), :method=>:delete, format: :js, remote: true %></td>
</tr>
<% end %>
</table>
<script>
$("span").hide();
