<!DOCTYPE html>
<html>
<head>
  <title>Blig</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="user_stat_bar">
<% if signed_in? %>
<%= current_user.email %>
<%= link_to '<div class="signin_out_btn bligger_btn">Sign out</div>'.html_safe, sign_out_path, method: :delete %>
<% else %>
<a class="user_name_btn bligger_btn" href="./">Welcome to BligBlog</a>


<div id="user_login_menu_btn">
<%= link_to 'Sign In', sign_in_path, :class=>'signin_out_btn bligger_btn' %>

<span id="user_login_menu">
<%= render "sessions/form" %>
</span>
</div>

<% end %>
<script>
$("#user_login_menu").hide();

$("#user_login_menu_btn").hover(function(){
	$("#user_login_menu").fadeIn('slow').css("display","inline-block");
}, function(){
	$("#user_login_menu").fadeOut('slow', function() { $("#user_login_menu").css("display","none"); });
});
</script>
</div>
<div id="flash">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
</div>
</header>

<% if signed_in? %>
<%= render 'sessions/admin_sidebar' %>

<% if can? :manage, Post.new %>
<div id="content" style="position:relative; left:110px">
<% else %>
<div id="content">
<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
<% end %>

<%= yield %>

</div>
</body>
</html>
