<!DOCTYPE html>
<html>
<head>
  <title>Blig</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="user_stat_bar">
<% if signed_in? %>
<%= current_user.email %>
<%= link_to '<div class="signin_out_btn">Sign out</div>'.html_safe, sign_out_path, method: :delete %>
<% else %>
<a href="./"><div class="user_name_btn">Welcome to BligBlog</div></a>


<div id="user_login_menu_btn">
<a href="<%= sign_in_path %>">
	<div class="signin_out_btn">
		Sign In
	</div>
</a>
<span id="user_login_menu">
<%= render "sessions/form" %>
</span>
</div>

<% end %>
<script>
$("#user_login_menu").hide();

$("#user_login_menu_btn").hover(function(){
	$("#user_login_menu").fadeIn('slow').css("display","inline-block");
}, function(){
	$("#user_login_menu").fadeOut('slow', function() { $("#user_login_menu").css("display","none"); });
});
</script>
</div>
<div id="flash">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
</div>
</header>

<%= yield %>

</body>
</html>
